@model PreviewCinemas.Models.Screen

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Screen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ScreenNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScreenNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seats)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ScreenID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
